.footer-form-button {
  @extend %button;

  margin-left: 12px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-form-button__icon {
  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: $white-color;
}
