$main-text-color: #757575;
$title-text-color: #212121;
$link-text-color: #2196f3;
$white-color: #ffffff;
$logo-hedeader-color: #000000;
$background-footer-color: #2f303a;
$address-link-color: rgba(255, 255, 255, 0.6);
$background-footer-social-link: rgba(255, 255, 255, 0.1);
$background-color-primery: #f5f4fa;
$border-portfolio-color: #eeeeee;
$svg-icon-color: #afb1b8;

$main-text-family: roboto;
$main-text-weight: 400;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
